* {
  box-sizing: border-box;
}
.products, img{
  display: inline;
  width: 200px;
}
.products {
  text-align: center;
  margin: auto;
}
.buttonDiv {
  text-align: center;
  margin: auto;
}
.chartDiv {
  text-align: center;
  margin: auto;
}
.products, img:hover {
  border: 2px solid green;
}
.products, img:active {
  border: 5px solid teal;
}
