* {
  box-sizing: border-box;
}
.products, img{
  display: inline;
  height: 200px;
}
#products {
  text-align: center;
  margin: auto;
}
#buttonDiv {
  text-align: center;
  margin: auto;
}
.charts {
  text-align: center;
  width: 1000px;
  margin: auto;
}
img:hover {
  border: 2px solid green;
}
img:active {
  border: 5px solid teal;
}
#imgList {
  margin: auto;
}
#imgList, figure {
  display: inline-block;
  text-align: center;
}
#imgList img:hover {
  border: none;
}
#imgList img:active {
  border: none;
}
header {
  width: 90%;
  height: 10%;
  margin: auto;
  background-image: url('img/bus.jpg');
  background-size: cover;
}
h1 {
  color: white;
  background-color: rgba(112, 94, 94, 0.7);
  font-size: 5em;
  font-style: normal;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
